* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}

input {
  font-size: 28px;
  width: 307px;
  height: 50px;
}

button {
  width: 60px;
  height: 60px;
  font-size: 24px;
  border: 2px solid rgb(70, 69, 69);
  border-radius: 5px;
  margin: 8px;
}

.operators {
  background-color: black;
  color: white;
}

.equal {
  background-color: black;
  color: white;
}

.clear {
  background-color: red;
  color: white;
}

.cart {
  width: 340px;
  height: 450px;
  background-color: grey;
  padding-top: 30px;
  border-radius: 10px;
}

.calculator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.inp2 {
  margin-bottom: 30px;
}